@charset "utf-8";

/* リセット */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
/* 共通---------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    color: rgb(117, 98, 98);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: rgb(117, 98, 98);
    text-decoration: none;
}

/* Noto Sans　標準 */
@font-face {
    src: url(../fonts/NotoSansJP-Regular.woff) format("woff");
    font-family: "Noto Sans JP";
    font-style: normal;
    font-display: swap;
}

/* Noto Sans　bold */
@font-face {
    src: url(../fonts/NotoSansJP-Bold.woff) format("woff");
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

/* rockwell */
@font-face {
    src: url(../fonts/rockwell.woff) format("woff");
    font-family: 'rockwell';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}


/* header */
.logo img {
    width: 45px;
    height: 36px;
    margin-top: 4px;
    margin-left: 4px;
    float: left;
}

.logo h1 {
    height: 56px;
    margin-left: 4px;
    color: rgb(203, 240, 120);
    font-size: 2.4rem;
    font-family: rockwell;
    line-height: 56px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    float: left;
}

.headerNav {
    float: right;
}

.headerNav ul li {
    margin-top: 2px;
    margin-right: 8px;
    float: left;
}

.headerNav ul li.log {
    display: none;
}

.headerNav ul li.contact {
    background: url(../img/LINE_Brand_icon.png) no-repeat center 4px;
    background-size: 30px 30px;
}

.headerNav ul li.login,
.headerNav ul li.user {
    background: url(../img/icon-user-g.png) no-repeat center 4px;
    background-size: 30px 30px;
}

.headerNav ul li a {
    display: block;
    padding-top: 38px;
    font-size: 1.2rem;
}

/* clearfix */
header::after,
.float::after {
    content: "";
    display: block;
    clear: both;
}

/* nav */
nav {
    width: 100%;
    height: 90px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

nav ul li {
    width: 75px;
    height: 68px;
    text-align: center;
    cursor: pointer;
}

nav ul li a {
    display: block;
    padding: 48px 0 24px 0;
    font-size: 1.4rem;
}

nav ul li span {
    display: none;
}

nav ul li.howTo {
    padding: 48px 0 24px 0;
    font-size: 1.4rem;
}

nav ul li.top {
    background: url(../img/icon-top-g2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

nav ul li.fav {
    background: url(../img/icon-fav-g2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

nav ul li.post {
    background: url(../img/icon-post-g2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

nav ul li.howTo {
    background: url(../img/icon-howTo-g2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

nav ul li.top.vis {
    background: url(../img/icon-top-p2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

nav ul li.fav.vis {
    background: url(../img/icon-fav-p2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

nav ul li.post.vis {
    background: url(../img/icon-post-p2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

nav ul li.howTo.vis {
    background: url(../img/icon-howTo-p2.png) no-repeat center 8px;
    background-size: 43px 34px;
}

.headerNav ul li.login.vis,
.headerNav ul li.user.vis {
    background: url(../img/icon-user-p.png) no-repeat center 4px;
    background-size: 30px 30px;
}


nav ul li.top.vis a,
nav ul li.fav.vis a,
nav ul li.post.vis a,
nav ul li.howTo.vis,
.headerNav ul li.contact.vis a,
.headerNav ul li.login.vis a,
.headerNav ul li.user.vis a {
    color: rgb(228, 97, 97);
}

/* nav howToList */
.howToList {
    width: 240px;
    height: 400px;
    background-color: rgb(228, 97, 97);
    border: 1px solid rgb(228, 97, 97);
    position: fixed;
    left: 0;
    bottom: 90px;
    box-sizing: border-box;
}

.howToList {
    display: none;
}

.howToList.open {
    display: block;
}

.howToList ul {
    display: block;
    margin-top: 16px;
}

.howToList ul li {
    width: 100%;
    height: 56px;
}

.howToList ul li a {
    display: block;
    padding: 0 0 0 24px;
    font-size: 1.6rem;
    color: #fff;
    line-height: 56px;
    text-align: left;
    background: url(../img/arrow-w.png) no-repeat 4px center;
    background-size: 12px 12px;
}

.howToList p {
    margin: 0;
    padding: 20px 0 20px 16px;
    font-size: 2rem;
    color: rgb(228, 97, 97);
    background-color: #fff;
    border-top: 1px solid rgb(228, 97, 97);
    border-bottom: 1px solid rgb(228, 97, 97);
}


/* main */
h2 {
    margin: 24px;
    font-size: 1.8rem;
    text-align: center;
}

span.res {
    display: inline-block;
}


/* footer */
footer {
    margin-bottom: 96px;
}

.copyright {
    height: 32px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(248, 243, 152);
}


/* index---------------------------------------------------------------------- */
.mainVew {
    height: 48vw;
    margin-top: 16px;
    position: relative;
}

.mainVew p {
    width: 40%;
    padding: 2px 16px;
    font-size: 6vw;
    color: #fff;
    line-height: 1.5em;
    text-shadow: 0px 1px 2px rgb(149, 191, 56);
    background-color: rgb(203, 240, 120);
    border: 3px solid #fff;
    position: absolute;
    top: 13vw;
    left: 2%;
    z-index: 10;
}

.mainVew img{
    width: 74%;
    position: absolute;
    right: 2%;
    vertical-align: top;
}

.mainVew img.resMv {
    display: none;
}

.description p {
    margin: 24px 0 0 24px;
    line-height: 22px;
}

.search {
    margin: 24px 0 40px;
    padding: 24px 0;
    background-color: rgb(228, 97, 97);
}

.search p {
    padding: 24px 0 0;
    text-align: center;
}

.search p input[type="search"] {
    width: 80%;
    height: 32px;
    padding-left: 16px;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(117, 98, 98);
    background-size: 24px auto;
    border: none;
}

.search p input[type="search"]:focus {
    border: none;
    outline: 0;
}

.search p button[type="submit"] {
    width: 144px;
    height: 32px;
    padding: 0 0 0 1em;
    font-size: 1.6rem;
    color: #fff;
    font-family: rockwell;
    letter-spacing: 1em;
    text-align: center;
    background-color: rgb(228, 97, 97);
    border: 1px solid #fff;
}

.new,
.popularity {
    margin: 32px 0 0 0;
}

.new h2,
.popularity h2 {
    padding: 0;
    text-align: left;
}

.popularity {
    margin-bottom: 24px;
}

.new .item img,
.popularity .item img {
    margin: 16px 0 0;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.newImg,
.popularityImg {
    display: flex;
    overflow: hidden;
}


/* search--------------------------------------------------------------------- */
.card {
    width: 300px;
    margin: 0 auto 40px;
    padding: 16px 0;
}

.card h3 {
    margin-left: 16px;
    color: rgb(228, 97, 97);
    font-weight: normal;
    float: left;
}

.card p.time {
    width: 56px;
    margin-right: 16px;
    color: rgb(228, 97, 97);
    text-align: right;
    background: url(../img/time-p.png) no-repeat left center;
    float: right;
}

.card img {
    display: block;
    width: 248px;
    height: 248px;
    margin: 8px auto;
    border: 8px solid rgb(248, 243, 152);
}

.card p.userName {
    margin-left: 16px;
    font-size: 1.2rem;
    float: left;
}

.card p.posDate {
    margin-right: 16px;
    float: right;
}


/* recipe--------------------------------------------------------------------- */
.recipeDescription > img {
    width: 100%;
    margin-top: 16px;
    border: 8px solid rgb(248, 243, 152);
    box-sizing: border-box;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.recipeDescription h2 {
    margin-bottom: 8px;
    padding-bottom: 16px;
    border-bottom: 3px double rgb(203, 240, 120);
}

.recipeDescription .float p:first-child {
    margin-left: 24px;
    float: left;
}

.recipeDescription .float p:nth-child(2) {
    color: rgb(228, 97, 97);
    float: left;
}

.recipeDescription .float .favorite {
    float: right;
    position: relative;
}

.recipeDescription .float .favorite img {
    width: 32px;
    margin-top: -4px;
    margin-right: 24px;
}

.recipeDescription .float .favorite p {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 12px;
}

.recipeDescription > p {
    margin-left: 24px;
    font-size: 1.4rem;
}

.wrapperFood,
.wrapperRecipe {
    margin: 24px;
}

.wrapperFood .float h3 {
    margin-bottom: 16px;
    float: left;
}

.wrapperFood .float p {
    margin-left: 32px;
    padding-top: 4px;
    font-size: 1.2rem;
    float: left;
}

.wrapperRecipe h3 {
    margin-bottom: 16px;
}

.wrapperRecipe ol {
    margin-left: 16px;
}

.memo {
    margin: 24px auto;
    padding: 8px;
    background-color: rgb(203, 240, 120);
    border-radius: 8px;
}

.memo h3 {
    font-weight: normal;
}


/* favorite------------------------------------------------------------------- */
.flex {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 最後の行を左揃えにする*/
.flex::before {
    content: "";
    display: block;
    width: 27vw;  /* .boxに指定したwidthと同じ幅を指定する */
    height: 0;
    order: 1;  /* 疑似要素beforeの順番を必ず指定する*/
}

.flex .favList {
    margin-bottom: 16px;
}

.flex .favList img {
    width: 27vw;
    height: 27vw;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.favList p {
    margin-top: 4px;
    text-align: right;
    background: url(../img/time-yg.png) no-repeat right center;
}


/* postRecipe--------------------------------------------------------------- */
.postRecipe .image {
    width: 264px;
    height: 264px;
    margin: 0 auto;
    position: relative;
    background: url(../img/image.png) no-repeat 114px 104px,rgb(255, 255, 153);
    background-size: 40px 40px;
}

.postRecipe .image input[type="file"]#pic {
    visibility: hidden;
}

.postRecipe .image p {
    position: absolute;
    top: 60%;
    left: 35%;
}

.postRecipe .image img#preview {
    position: absolute;
    width: 264px;
    height: 264px;
    top: 0;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 8px solid rgb(248, 243, 152);
    box-sizing: border-box;
}

.postRecipe .entry {
    width: 95%;
    margin: 0 auto;
}

.postRecipe .entry h3 {
    margin: 20px 0 0;
}

.postRecipe .entry h3 span {
    font-size: 1.2rem;
}

.postRecipe .entry p,
.postRecipe .entry ul li input {
    margin-top: 8px;
}

.postRecipe .entry ul li {
    margin-top: 16px;
}

.postRecipe .entry input[type="text"],
.postRecipe .entry input[type="number"],
.postRecipe .entry textarea {
    width: 93%;
    padding-left: 16px;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(117, 98, 98);
    border: 2px solid rgb(203, 240, 120);
    border-radius: 8px;
}

.postRecipe .entry input[type="text"]:focus,
.postRecipe .entry input[type="number"]:focus,
.postRecipe .entry textarea:focus {
    border: 2px solid rgb(228, 97, 97);
    outline: 0;
}

.postRecipe .entry input[type="text"],
.postRecipe .entry input[type="number"] {
    height: 32px;
}

.postRecipe .entry p input[type="number"] {
    width: 40px;
}

.postRecipe .entry p.addFood,
.postRecipe .entry p.addRecipe {
    display: block;
    width: 216px;
    height: 56px;
    margin: 20px auto;
    padding-left: 16px;
    background-color: #fff;
    border: 2px solid rgb(203, 240, 120);
    border-radius: 16px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 56px;
    color: rgb(117, 98, 98);
    background: url(../img/add-yg.png) no-repeat 24px center;
}

.postRecipe .entry ol {
    margin-left: 20px;
}

.postRecipe .entry ol li,
.postRecipe .entry textarea {
    margin-top: 8px;
}

.postRecipe .entry textarea {
    width: calc(93% - 12px);
    height: 72px;
    padding: 8px 16px;
    resize: none;
}

.postRecipe .entry input[type="submit"] {
    display: block;
    width: 208px;
    height: 40px;
    margin: 24px auto 16px;
    font-size: 1.8rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    text-align: center;
    background-color: rgb(228, 97, 97);
    border:  none;
}

.postRecipe .entry p:last-child {
    margin: 0 auto 40px;
    font-size: 1.4rem;
    text-align: center;
}


/* contact------------------------------------------------------------------ */
.wrapperContact {
    width: 95%;
    margin: 0 auto;
}

.wrapperContact .contactBox {
    padding: 24px;
    background-color: rgba(203, 240, 120, 0.5);
    border-radius: 16px;
}

.wrapperContact p {
    margin: 16px 0 40px;
    line-height: 1.5;
}

.wrapperContact ol {
    margin-top: 24px;
}

.wrapperContact ol li {
    margin-bottom: 8px;
    margin-left: 24px;
}

.wrapperContact ol li ul {
    margin: 24px 0;
    line-height: 1.4em;
    list-style: disc;
}

.wrapperContact a {
    display: block;
    width: 256px;
    height: 48px;
    margin: 40px auto;
    padding-left: 32px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 48px;
    border: 1px solid rgb(8, 102, 20);
    border-radius: 8px;
    background: url(../img/LINE_mini_icon.png) no-repeat 8px center;
    background-size: 32px 32px;
}


/* login------------------------------------------------------------------
registration-------------------------------------------------------------  */
.wrapperLogin form.mailLogin,
.wrapperRegistration form.mailRegistration .registrationBox {
    width: 300px;
    margin: 32px auto 40px;
    padding: 32px 16px;
    background-color: rgba(203, 240, 120, 0.5);
    border-radius: 8px;
}

.wrapperLogin form.mailLogin p,
.wrapperRegistration form.mailRegistration .registrationBox p {
    margin-bottom: 24px;

}

.wrapperLogin form.mailLogin input,
.wrapperRegistration form.mailRegistration .registrationBox input {
    width: 287px;
    height: 28px;
    margin-top: 8px;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(117, 98, 98);
    border: 1px solid rgb(117, 98, 98);
}

.wrapperLogin form.mailLogin input:focus,
.wrapperRegistration form.mailRegistration .registrationBox input:focus {
    border: 1px solid rgb(228, 97, 97);
    outline: 0;
}

.wrapperLogin form.mailLogin input[type="submit"],
.wrapperRegistration form.mailRegistration input[type="submit"] {
    display: block;
    width: 248px;
    height: 39px;
    margin: 0 auto;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    border: none;
    background-color: rgb(228, 97, 97);
}

.wrapperLogin {
    margin-bottom: 120px;
}

.goRegistration p {
    margin-bottom: 32px;
    text-align: center;
}

.goRegistration p a,
.wrapperRegistration form.mailRegistration p a {
    color: rgb(228, 97, 97);
    text-decoration: underline;
}


/* registration------------------------------------------------------------  */
.wrapperRegistration h3 {
    margin-top: 40px;
    font-size: 1.8rem;
    color: rgb(228, 97, 97);
    text-align: center;
}

.wrapperRegistration form.mailRegistration {
    margin: 24px auto;
}

.wrapperRegistration form.mailRegistration .registrationBox p:last-child {
    margin-bottom: 0;
}

.wrapperRegistration form.mailRegistration > p {
    margin-bottom: 16px;
    text-indent: 1rem;
}

.wrapperRegistration form.mailRegistration p:last-of-type {
    margin-bottom: 48px;
}


/* convention--------------------------------------------------------------  */
.convention {
    width: 80%;
    margin: 0 auto;
    line-height: 1.8rem;
}

.convention h3 {
    margin-top: 32px;
}

.convention p {
    margin-top: 16px;
    text-indent: 1rem;
}

.convention ul {
    width: 80%;
    margin: 0 auto;
}

.convention ul li {
    list-style-type: disc;
}

.convention p:last-child {
    margin-bottom: 40px;
    text-indent: 0;
}

.convention dl dt {
    margin-top: 16px;
    float: left;
}
.convention dl dd {
    width: 70%;
    margin-top: 16px;
    float: left;
}


/* start
finished---------------------------------------------------------------- */
.start p,
.finish p {
    width: 70%;
    margin: 48px auto 32px;
    line-height: 1.7em;
}

.finish p:last-child {
    margin-bottom: 300px;
}

.start p a {
    color: rgb(228, 97, 97);
    text-decoration: underline;
}

.start > a {
    display: block;
    width: 248px;
    height: 39px;
    margin: 0 auto 240px;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    line-height: 39px;
    border: none;
    background-color: rgb(228, 97, 97);
}


/* user---------------------------------------------------------------------- */
.wrapperUser form.modify,
.wrapperUser .recipeEdit {
    display: none;
}

.wrapperUser form.modify.open,
.wrapperUser .recipeEdit.open {
    display: block;
}

.wrapperUser h3 {
    width: 100%;
    height: 56px;
    padding-left: 32px;
    line-height: 56px;
    border: 2px solid rgb(203, 240, 120);
    box-sizing: border-box;
    background-image: url(../img/arrow-right.png), url(../img/add-yg.png);
    background-repeat:  no-repeat no-repeat;
    background-position:  4px center ,94% center;
    background-size: 16px 16px, 24px 24px;
}

.wrapperUser h3:nth-of-type(2) {
    margin-top: -2px;
}

.wrapperUser .modificationBox {
    padding: 24px;
    background-color: rgba(203, 240, 120, 0.5);
}

.wrapperUser .modificationBox p {
    margin-top: 24px;
}

.wrapperUser .modificationBox p input {
    width: 100%;
    height: 32px;
    margin-top: 8px;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(117, 98, 98);
    border: 1px solid rgb(117, 98, 98);
}

.wrapperUser .modificationBox p input:focus {
    border: 1px solid rgb(228, 97, 97);
    outline: 0;
}

.wrapperUser .modificationBox p:nth-child(2) {
    width: 272px;
    height: 56px;
    margin-left: -24px;
    padding-left: 24px;
    color: rgb(228, 97, 97);
    line-height: 56px;
    background: url(../img/arrow-down.png) no-repeat 4px center;
    background-size: 16px 16px;
}

.wrapperUser .modificationBox p:nth-child(3) {
    margin-top: 8px;
}

.wrapperUser form > input,
.wrapperUser form.logout button {
    display: block;
    width: 271px;
    height: 40px;
    margin: 32px auto 16px;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(228, 97, 97);
    border: none;
}

.wrapperUser form a {
    display: block;
    width: 271px;
    height: 40px;
    margin: 0 auto 40px;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgb(117, 98, 98);
}

.wrapperUser > p {
    margin: 24px 0 24px 16px;
}

.wrapperUser .recipeEdit > p{
    margin-top: 24px;
}

.wrapperUser .editList li {
    width: 100%;
    margin-top: 16px;
    background-color: rgb(255, 255, 153);
}

.wrapperUser .editList li img {
    float: left;
    width: 125px;
    height: 125px;
}

.wrapperUser .editList li .float .listDescription {
    float: left;
    width: 48%;
    margin: 4px 4px 0 16px;
    font-size: 1.2rem;
}

.wrapperUser .editList li .float .listDescription .menuName {
    margin-top: 4px;
    font-size: 1.6rem;
}

.wrapperUser .editList li {
    position: relative;
}

.wrapperUser .editList li form button,
.wrapperUser .editList li form a {
    width: 70px;
    height: 32px;
    color: rgb(117, 98, 98);
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
}

.wrapperUser .editList li form button {
    padding: 0 0 0 8px;
    letter-spacing: 0.7em;
    background-color: #fff;
    border: none;
    bottom: 4px;
    right: 96px;
}

.wrapperUser .editList li form a {
    margin: 0;
    padding: 0 0 0 8px;
    color: #fff;
    line-height: 32px;
    letter-spacing: 0.7em;
    background-color: rgb(228, 97, 97);
    border: none;
    bottom: 4px;
    right: 8px;
}

.wrapperUser form.logout button {
    margin-bottom: 288px;
}

/* leaves------------------------------------------------------------------ */
.leaves p {
    width: 70%;
    margin: 32px auto 0px;
    line-height: 1.7em;
}

.leaves form .wrapperLeaves {
    width: 90%;
    margin: 24px auto 40px;
    padding: 24px 16px;
    background-color: rgba(203, 240, 120, 0.5);
    border-radius: 8px;
}

.leaves form .wrapperLeaves p {
    width: 90%;
    margin: 16px auto;
}

.leaves form .wrapperLeaves p input,
.leaves form .wrapperLeaves p textarea {
    width: 100%;
    font-size: 1.6rem;
    font-family:  'Noto Sans JP', sans-serif;
    color: rgb(117, 98, 98);
}

.leaves form .wrapperLeaves p input:focus,
.leaves form .wrapperLeaves p textarea:focus {
    border: 1px solid rgb(228, 97, 97);
    outline: 0;
}

.leaves form .wrapperLeaves p input {
    height: 28px;
}

.leaves form .wrapperLeaves p textarea {
    height: 80px;
    resize: none;
}

.leaves form > input {
    display: block;
    width: 271px;
    height: 40px;
    margin: 0 auto 40px;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(228, 97, 97);
    border: none;
}

@media (min-width:600px){
    /* 共通-------------------------------------------------------------------- */
    html {
        font-size: 75%;
    }

    /* nav */
    nav {
        height: 56px;
        position: absolute;
        bottom: auto;
        top: 72px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 12px;
    }

    nav ul li {
        width: 136px;
        height: 56px;
        letter-spacing: 0.07em;
        background-size: 136px 56px;
    }

    nav ul li a,
    nav ul li.howTo {
        height: 56px;
        padding: 0;
        font-size: 1.0rem;
        line-height: 24px;
        color: #fff;
        text-shadow: 0 0 8px #000;
    }

    nav ul li span {
        display: inline;
        font-size: 2.4rem;
        font-family: rockwell;
    }

    nav ul li.top {
        background: url(../img/nav-res-top.jpg);
        background-size: 136px 56px;
    }

    nav ul li.fav {
        background: url(../img/nav-res-fav.jpg);
        background-size: 136px 56px;
    }

    nav ul li.post {
        background: url(../img/nav-res-post.jpg);
        background-size: 136px 56px;
    }

    nav ul li.howTo {
        background: url(../img/nav-res-how-to.jpg);
        background-size: 136px 56px;
    }

    nav ul li.top.vis,
    nav ul li.fav.vis,
    nav ul li.post.vis,
    nav ul li.howTo.vis {
        background: none;
    }

    nav ul li.vis a,
    nav ul li.howTo.vis {
        text-shadow: none;
        border: 1px solid rgb(228, 97, 97);
        box-sizing: border-box;
    }

    .howToList {
        width: 300px;
        margin-left: -18px;
        left: 50vw;
        top: 128px;
    }

    /* main */
    main {
        margin-top: 88px;
    }

    h2 {
        margin-bottom: 0;
        padding-top: 16px;
    }

    /* footer */

    footer {
        margin: 56px 0 0;
    }

    footer p {
        height: 32px;
    }

    .copyright {
        font-size: 1rem;
    }

    /* index----------------------------------------------------------------- */
    .mainVew {
        margin: 0 auto;
    }

    .search {
        padding: 24px;
    }


    /* search---------------------------------------------------------------- */
    .wrapperSearch {
        width: min(100%, 960px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .wrapperSearch:before {
        content: "";
        display: block;
        width: 280px;  /* .boxに指定したwidthと同じ幅を指定する */
        height: 0;
        order: 1;  /* 疑似要素beforeの順番を必ず指定する*/
    }

    .card {
        width:284px;
        margin: 32px 0 0;
        background-color: rgb(248, 243, 152);
    }

    .card h3 {
        width: 254px;
        height: 3em;
    }

    .card img {
        border: 4px solid #fff;
    }
    .card p.time,
    .card p.posDate {
        font-size: 1.4rem;
    }


    /* recipe---------------------------------------------------------------- */
    .recipeDescription > img {
        display: block;
        width: 400px;
        margin: 16px auto 0;
    }

    .recipeDescription h2 {
        border-bottom: 5px double rgb(203, 240, 120);
    }

    .recipeFlex {
        display: flex;
    }

    .wrapperFood,
    .wrapperRecipe {
        width: 50%;
    }

    .wrapperFood {
        margin-right: 0;
        padding-right: 24px;
        border-right: 1px solid rgb(203, 240, 120);
    }

    .recipeFlex,
    .memo {
        width: min(90%, 960px);
        margin-right: auto;
        margin-left: auto;
    }

    .memo {
        padding: 16px 24px;
    }


    /* favorite---------------------------------------------------------------- */
    .flex {
        margin-top: 32px;
        width: 568px;
    }

    .flex::before {
        width: 176px;
    }

    .flex .favList img {
        width: 176px;
        height: 176px;
    }


    /* postRecipe-------------------------------------------------------------- */
    .postRecipe .image {
        margin-top: 32px;
    }


    .postRecipe .entry ul li {
        display: flex;
    }

    .postRecipe .entry ul li input:first-child {
        width: 40%;
        margin-right: 3%;
    }

    .postRecipe .entry ul li input:nth-child(2) {
        width: 48%;
    }


    /* contact---------------------------------------------------------------- */
    .wrapperContact .contactBox {
        padding: 24px 56px;
    }

    .wrapperContact a {
        width: 336px;
        background-position: 32px center;
    }


    /* login----------------------------------------------------------------
    registration----------------------------------------------------------  */
    .wrapperLogin form.mailLogin,
    .wrapperRegistration form.mailRegistration .registrationBox {
        width: 560px;
    }

    .wrapperLogin form.mailLogin p,
    .wrapperRegistration form.mailRegistration .registrationBox p {
        width: 287px;
        margin-right: auto;
        margin-left: auto;
    }

    .wrapperLogin form.mailLogin input[type="submit"],
    .wrapperRegistration form.mailRegistration input[type="submit"] {
        width: 320px;
    }


    /* start
    finished--------------------------------------------------------------- */
    .start p,
    .finish p {
        margin-top: 32px;
    }

    /* user------------------------------------------------------------------- */
    .wrapperUser {
        margin-top: 32px;
    }

    .wrapperUser .modificationBox {
        width: 80%;
        margin: 24px auto 0;
        border-radius: 16px;
    }

    .wrapperUser .modificationBox p {
        width: 300px;
    }

    .wrapperUser .modificationBox p input {
        width: 300px;
    }

    .wrapperUser .modificationBox p:nth-child(2) {
        width: 336px;
    }

    .wrapperUser .modificationBox p,
    .wrapperUser .modificationBox p:nth-child(2) {
        margin-right: auto;
        margin-left: auto;
    }

    .wrapperUser .editList {
        width: 600px;
        margin: 0 auto;
    }

    .wrapperUser .editList li img {
        width: 146px;
        height: 146px;
    }

    .wrapperUser .editList li .float .listDescription {
        width: 65%;
        margin:8px 4px 0 16px;
    }

    .wrapperUser .editList li form button {
        width: 160px;
        height: 40px;
        bottom: 16px;
        right: 240px;
    }

    .wrapperUser .editList li form a {
        width: 160px;
        height: 40px;
        line-height: 40px;
        bottom: 16px;
        right: 32px;
    }


    /* leaves------------------------------------------------------------------ */
    .leaves form .wrapperLeaves {
        width: 80%;
    }

    .leaves form .wrapperLeaves p input{
        width: 320px;
    }
}


@media (min-width:1280px){
    /* 共通 -----------------------------------------------------------------------*/
    /* main */
    main {
        max-width: 1200px;
        margin: 96px auto 0;
    }

    /* nav */
    nav ul {
        gap: 24px;
    }

    .howToList {
        margin-left: 0;
    }

    /* index----------------------------------------------------------------- */
    .mainVew {
        height: 350px;
    }

    .mainVew p {
        width: 256px;
        height: 176px;
        margin-left: -480px;
        padding: 2% 3%;
        font-size: 3.2rem;
        top: auto;
        bottom: -15%;
        left: 50%;
    }

    .mainVew img {
        display: none;
    }

    .mainVew img.resMv {
        width: 714px;
        margin-left: -250px;
        display: block;
        border: 3px solid #fff;
        position: absolute;
        left: 50%;
    }

    .description p {
        max-width: 960px;
        margin: 0 auto;
        padding-top: 24px;
        padding-left: 45%;
    }

    .description p:nth-child(2) {
        margin-top: 0px;
        padding-top: 8px;
    }


    /* favorite---------------------------------------------------------------- */
    .flex {
        width: 800px;
    }

    .flex::before {
        width: 240px;
    }

    .flex .favList img {
        width: 240px;
        height: 240px;
    }


    /* contact---------------------------------------------------------------- */
    .wrapperContact .contactBox {
        padding: 24px 168px;
    }


    /* user------------------------------------------------------------------- */
    .wrapperUser .modify {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .wrapperUser .editList {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 32px;
    }

    .wrapperUser .editList li {
        width: 48%;
    }

    .wrapperUser form.logout button {
        margin-top: 160px;
    }
}